---
namespace: {{ collection_namespace }}
name: {{ collection_name }}
version: {{ collection_version }}
readme: README.md
authors:
  - Hervé Quatremain <rv4m@yahoo.co.uk>
description: Ansible modules to manage Quay Container Registry installations
license:
  - GPL-3.0-or-later
tags:
  - application
  - quay
  - registry
repository: {{ collection_repo }}

# The URL to any online docs
documentation: {{ collection_repo }}

# The URL to the home page of the collection/project
homepage: {{ collection_repo }}

# The URL to the collection issue tracker
issues: {{ collection_repo }}/issues
...
