---
name: Update pre-commit Configuration

on:
  schedule:
    - cron: "30 * * * *"

jobs:
  pre-commit:
    uses:
      redhat-cop/ansible_collections_tooling/.github/workflows/update_precommit.yml@main
    with:
      github_actor: ${{ github.actor }}
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
...
